@tailwind base;
@tailwind components;
@tailwind utilities;

.badge-skill {
  @apply bg-cyan-900/50 border border-cyan-700 text-cyan-100 text-xs font-semibold px-3 py-1 rounded-full;
}
html {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-25%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10%);
  }
}
.animate-slide-down {
  animation: slide-down 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.animate-slide-up {
  animation: slide-up 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
